{% extends 'base.html' %}


{% block title %}
    <title> Services | Story </title>
{% endblock %}

{% block content %}
    <div id="pageContent">

        <div class="articleTitle">Cоздатель приключений</div>
        <div class="articleContent">
            <div class="rightLinks">
                <div class="linkTitle">Ссылки:</div>
                <p class="links">
                <ul style="padding-left: 0px;">Сгенерировать
                    <li><a href="{% url 'generator_world' %}"> <u>Мир</u></a></li>
                    <li><a href="{% url 'generator_company' %}"> <u>Компанию</u></a></li>
                    <li>Персонажа<ul style="padding-left: 10px;">
                        <li><a href="{% url 'generator_character_story' %}"><u>Предисторию</u></a></li>
                    </ul></li>
                </ul>
                </p>
            </div>
            <p> &emsp;&emsp;&emsp;Пишете ли вы своё приключение или используете уже готовое, будьте готовы потратить
                время на приготовления, а не только на часы, которые вы проведёте за игровым столом. Вам придётся найти
                время и потренироваться в креативности, чтобы сочинить хороший сюжет, создать новых персонажей Мастера,
                придумать сражения, и продумать способы раскрытия сюжетных событий.</p>
            <p>
                &emsp; Приключение начинается с чего-то, что должно заинтересовать игроков. Лучше всего, если это «что-то»
                задевает интересы игроков и создаёт убедительные причины, чтобы их персонажи всё же приняли участие в
                приключении. Искатели приключений могут натолкнуться на что-то, что они не должны были увидеть, на них
                могут напасть чудовища на дороге, на их жизнь может покуситься убийца, а может, просто возле городских
                ворот появится дракон. Подобные сюжетные повороты могут мгновенно вовлечь игроков в вашу историю.
                &emsp;Начало хорошего приключения должно быть захватывающим и целенаправленным. Если вы хотите, чтобы игроки
                пошли домой в ожидании следующего собрания, то дайте им понять, к чему всё идёт, а также добавьте
                что-то, чего они будут с нетерпением ждать.
            </p>
        </div>


    </div>
{% endblock %}