<div id="header">
    <div class="title">Story generator</div>
    <div class="subText"><i>What's in your story?</i></div>
</div>
<div id="bar">
    <div class="menuLink"><a href="{% url 'main' %}">Home</a></div>
    <div class="menuLink"><a href="{% url 'main' %}">About</a></div>
    <div class="menuLink"><a href="{% url 'game_main' %}">Game</a></div>
    <div class="menuLink"><a href="{% url 'main' %}">Services</a></div>
    <div class="menuLink"><a href="{% url 'main' %}">Contact</a></div>
</div>