{% extends 'base.html' %}


{% block title %}
    <title> Home | Story </title>
{% endblock %}

{% block content %}
    <div id="pageContent">

        <div class="articleTitle">Создание приключений</div>


        <div class="articleContent">

            <div class="rightLinks">
                <div class="linkTitle">Ссылки:</div>
                <p class="links">
                    <a href="http://dungeon.su/">dungeon.su</a><br/>
                    <a href="https://dungeonsanddragons.ru/">Dungeons.ru</a><br/>
                </p>
            </div>
            <p> &emsp;&emsp;&emsp;<b>Это то , ради чего вообще стоит быть Мастером.</b> Проектируя фантастические места и сцены с
                чудовищами,
                ловушки, головоломки и конфликты, вы сможете по полной выразить себя, ведь при разработке приключения вы
                командуете парадом, и вольны создавать его по своему усмотрению. </p>
            <p> &emsp;&emsp;&emsp;По сути, приключения — те же рассказы. Они содержат в себе черты таких жанров как роман,кино, комикс,
                или сериал. Комиксы и сериалыможно напрямую сравнить с приключениями — ите, и другие разделены на
                фрагменты, но сливаясьобразуют большую общую историю. Если приключение — это один фрагмент или эпизод,
                то кампания — весь сериал в целом.</p>
            <p> &emsp;&emsp;&emsp;Вне зависимости от того, придумываете ли вы своё собственное приключение или используете опубликованное,
                в этой главе вы найдёте советы, которые помогут вам создать интересный и запоминающийся сюжет для
                игроков.</p>
            <p> &emsp;&emsp;&emsp;<b>Создание приключения</b> — это смешивание моментов исследования, социального взаимодействия и сражений в
                единое целое, которое должно отвечать потребностям ваших игроков и вашей кампании. И в то же время для
                хорошего приключения требуется нечто большее. В ходе игры повествование должно идти так, чтобы игроки
                почувствовали, что ваши приключения не просто несколько разрозненных игровых событий, а действительно
                связаны в единую историю.</p>
        </div>


    </div>
{% endblock %}