{% extends 'base.html' %}


{% block title %}
    <title> Game | Story </title>
{% endblock %}

{% block content %}
    <div id="pageContent">

        <div class="articleTitle">Сцена</div>
        <div class="articleContent">
            <div class="rightLinks">
                <div class="linkTitle">Ссылки:</div>
                <p class="links">
                    <a href="{% url 'game_start' %}">Начать</a><br/>
                </p>
            </div>
            <p> &emsp;&emsp;&emsp;Сцены — это отдельные фрагменты в большой истории вашего приключения.
                Во-первых, сцена должна быть интересной для игроков. Во-вторых, её проведение не должно вас обременять.
                Кроме того, хорошо продуманная сцена, как правило, имеет простую цель, а также некоторую связь с общей
                историей вашей кампании. Сцена имеет один из трёх возможных исходов: персонажи достигли цели, персонажи
                частично достигли цели, или персонажи не достигли цели. В сцене должны учитываться все три возможности,
                а результат должен иметь такие последствия, чтобы игроки почувствовали, что их успехи и не удачи имеют
                значение.</p>
        </div>


    </div>
{% endblock %}