{% extends 'base.html' %}


{% block title %}
    <title> Services | Story </title>
{% endblock %}

{% block content %}
    <div id="pageContent">

        <div class="articleTitle">Cоздатель приключений</div>
        <div class="articleContent">
            <p>
            <ul>
                <li>База для игроков - <i>{{ place_of_adventure.title }} "{{ city_name }}"</i></li>
                <li>Окрестности - <i></i></li>
            </ul>
            </p>
        </div>


    </div>
{% endblock %}